/* region common */
:root{
    --boolean-student-primary: #1b72e8;
    --boolean-student-dark: #142a40;
    --boolean-student-darker: #051e34;
    --boolean-student-light: #e5e5e5;
    --boolean-student-lighter: #ffffff;

}
body{
    font-family: 'Roboto', sans-serif;

}
/* endregion common */

/* region utilies */

.search-bar{
    background-color: var(--boolean-student-light);
}
.button_darker{
    background-color: #165bba;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
}

/* region utilies */

/* debug */
#site_header{
    padding: 20px 0;
    z-index: 2;
    background-color: var(--boolean-student-lighter);
    width: 100%;
}

#sidebar{
    height: calc(100vh - 76px);
    top: 76px;
    position: fixed;
    left: 0;
}
nav{
    background-color: var(--boolean-student-dark);
    color: var(--boolean-student-lighter);
}
.right-important{
    margin-top: 76px;
    margin-left: 80px;
    overflow-y: auto;
}
#banner{
    background-color: var(--boolean-student-primary);
}

.card{
    margin: 20px 10px;
}

/* enddebug */

/* region header */

.logo{
    width: 40px;
    overflow-x: hidden;
}


/* endregion header */

/* sidebar */
.hover-gray-sidebar:hover{
    background-color: gray;
}
/* /sidebar */


/* region main */

.button-credential-new-student > a > i{
    padding: 0.5rem 0.75rem;
}

.card-size{
    width: 88px;
    text-align: center;
}
.logo-card-class{
    width: 30px;
}
.action-class > a > i{
    border: 1px solid;
    border-radius: 0.25rem;
    width: 30px;
}
/* end region main */
/* region media lg */

@media screen and (min-width: 992px){
    .logo{
        overflow: visible;
        width: 130px;
    }
    .right-important{
        margin-left: 145px;
    }
}


/* endregion media lg */
