/* region common */
:root{
    --boolean-student-primary: #1b72e8;
    --boolean-student-dark: #142a40;
    --boolean-student-darker: #051e34;
    --boolean-student-light: #e5e5e5;
    --boolean-student-lighter: #ffffff;

}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
/* endregion common */

/* debug */
#site_header{
    height: 100px;
    background-color: green;
}

#sidebar{
    height: calc(100vh - 100px);
    width: 100px;
}
nav{
    background-color: var(--boolean-student-dark);
    color: var(--boolean-student-lighter);
}
.right{
    overflow-y: auto;
}
#banner{
    background-color: var(--boolean-student-primary);
    height: 100px;
}
#content{
    height: 100;
}
.left_content{
    background-color: yellow;
    height: 900px;
}
.card{
    background-color: orange;
    height: 400px;
    margin: 30px;
}
.right_content{
    background-color: gray;
    height: 900px;
}